* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /*  font-family: "Quicksand", sans-serif; */
    /*  font-family: "Open Sans", sans-serif; */
}

body {
    background-color: rgb(239, 240, 245);
}

/* header style */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

header img {
    width: 9rem;
    color: white;
}

header a{
    text-decoration: none;
}

header .header-div {
    display: flex;
    align-items: center !important;
    justify-content: center;
    gap: 8px;
}

header .header-div #circle {
    border: 1px solid blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

header .header-div h2 {
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    padding-top: 7px;
    line-height: 19px;
    color: blue;
    font-family: "Open Sans", sans-serif;
    z-index: 2000;
}

.menu {
    font-size: 20px;
    color: #000000;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    display: none !important;
}

/* nav */
nav {
    height: 100%;
    width: 18%;
    background-color: #ffffff;
    overflow-y: scroll;
    position: fixed;
    padding-top: 1rem;
    bottom: 0;
    z-index: 100;
}

.flex {
    display: flex !important;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    margin-top: 60px;
}

nav ul a {
    text-decoration: none;
}

nav ul a li {
    padding: 8px;
    border-radius: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul a li .arrow-right {
    font-size: 10px;
    color: rgb(175, 176, 181);
}

nav ul a li:hover {
    background-color: #e9ecef;
    cursor: pointer;    
}



nav ul li .b {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    text-decoration: none;
}

nav ul li .b span {
    font-size: 12px;
    color: rgb(175, 176, 181);
}

.custom-radius {
    border-radius: 10px;
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(10, 26, 168);
    font-size: 12px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

.con {
    width: 80%;
    right: 13px;
    border-radius: 10px;
    padding: 30px 10px;
    position: absolute;
    margin-top: 100px;
}

/* flex-div */

.flex-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex-1 {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(10, 26, 168);
    width: 23%;
}

.text img {
    font-size: 13px;
}

.text p {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    line-height: 17px;
    margin-left: 4px;
    font-family: "Quicksand", sans-serif;
}

.flex-1 .flex-p {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    line-height: 17px;
    padding-left: 27px;
}

.hi {
    font-size: 12px;
    font-weight: 700;
    color: #222222;
    font-family: "Quicksand", sans-serif;
    line-height: 17px;
    padding: 30px 5px 0 10px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-right: 20px;
}

.flex-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-2 label {
    color: rgb(175, 176, 181);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.btns button {
    background-color: rgb(10, 26, 168);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}

.acc-table {
    margin-top: 30px;
    overflow-x: auto;
    width: 100%;
}

.acc-table tr th {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: #000000;
    line-height: 17px;
    font-style: normal;
    font-family: "Quicksand", sans-serif;
}

.acc-table tr td {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    Color: #464855;
    line-height: 19px;
    font-style: normal;
    font-family: "Quicksand", sans-serif;
}

/* media query */

@media (max-width:1000px) {

    .flex-div {
        gap: 10px;
    }

    .flex-1 {
        border-radius: 10px;
        padding: 10px;
        background-color: rgb(10, 26, 168);
        width: 25%;
    }

    .acc-table tr th {
        font-size: 10px;
    }

    .acc-table tr td {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .con {
        margin-top: 90px;
        padding: 20px 10px;
    }

    .flex-div {
        gap: 10px;
    }

    .flex-1 {
        border-radius: 10px;
        padding: 2px 10px;
        background-color: rgb(10, 26, 168);
        width: 30%;
    }
}

@media (max-width: 767px) {

    header .header-div h2 {
        display: none;
    }

    .menu {
        display: block !important;
    }

    nav {
        display: none;
        width: 0;
        overflow: hidden;
        opacity: 0;
        z-index: 1000;
    }

    @keyframes slideIn {
        0% {
            width: 0;
            opacity: 0;
        }

        100% {
            width: 50%;
            opacity: 1;
        }
    }

    nav.show {
        display: block;
        animation: slideIn 0.5s ease forwards;
    }

    .con {
        width: 100% !important;
        right: 0;
        border-radius: 0%;
        margin-top: 2px;
    }

    .flex {
        display: flex !important;
        ;
        margin-top: 90px;
        position: relative;
    }

    .flex-div {
        display: block;
    }

    .flex-1 {
        border-radius: 10px;
        padding: 3px 10px;
        background-color: rgb(10, 26, 168);
        width: 100%;
        margin-bottom: 10px;
    }

    .tab {
        margin-top: 30px;
        width: 100%;
        overflow-x: auto !important;
    }
}